doctype html 
html 
    head 
        title Prototype Pollution 
        script(src="script.js", defer) 
    body 
        div Prototype Pollution using FETCH (Client Side) 
        br 
        .user 
        .fetchPollution  
            label(for="pollutant") Pollutant Data  
            input(type="text", name="pollutant", id="pollutant") 
            br 
        button.btn2 POLLUTE 
        .fetchReflection 
            label(for="headerVal") Header Value to Send  
            input(type="text", name="headerVal", id="headerVal") 
            br 
            p Header Retrieved by FETCH 
            br 
            .reflectedHeader 
            br 
        p Below Button Fetches data from API. 
        br 
        button.btn1 FETCH 
