doctype html 
html 
    head 
        title Prototype Pollution 
        script(src="script.js", defer) 
    body 
        .user User Details 
            User-Agent= ua 
        .fetchData 
            //- input(type="text", name="headerName", id="headerName") 
            label(for="headerVal") Header Value 
            input(type="text", name="headerVal", id="headerVal") 
            br 
            label(for="bodyData") Body Data 
            input(type="text", name="bodyData", id="bodyData") 
        p Below Button Fetches data from API. 
        br 
        button FETCH 
